<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>KetoPal Foods</h1>
  <div>
    <div>{{name}}</div>
  </div>

<table id="nutrition-facts">

	<colgroup>
		<col class="col-1">
		<col class="col-2">
	</colgroup>

	<tbody>
		<tr>
			<td class="col-1">Calories</td>
			<td class="col-2">{{cal}}</td>
		</tr>
		<tr>
			<td class="col-1">Total Fat</td>
			<td class="col-2">{{fat}}g</td>
		</tr>
	
		<tr>
			<td class="col-1">Total Carbs</td>
			<td class="col-2">{{carb}}g</td>
		</tr>
	
		<tr>
			<td class="col-1">Protein</td>
			<td class="col-2">{{protein}}g</td>
		</tr>

	
	</tbody>

</table>


  </body>


</html>
