<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>KetoPal Foods</h1>

<form name="userDropdown" action="/foods" method='POST'>
  <select name="userDropdown">
  {% for n in names %}
    <option value= "{{n.fname}}">{{n.fname}}</option>
  {% endfor %}
  </select>
  <button type="submit">Go</button>
</form>
<table id="nutrition-facts">

  <div>
    <div>{{food.fname}}</div>
  </div>
  
	<colgroup>
		<col class="col-1">
		<col class="col-2">
	</colgroup>

	<tbody>
		<tr>
			<td class="col-1">Calories</td>
			<td class="col-2">{{food.calories}}</td>
		</tr>
		<tr>
			<td class="col-1">Total Fat</td>
			<td class="col-2">{{food.fats}}g</td>
		</tr>
	
		<tr>
			<td class="col-1">Total Carbs</td>
			<td class="col-2">{{food.carbs}}g</td>
		</tr>
	
		<tr>
			<td class="col-1">Protein</td>
			<td class="col-2">{{food.proteins}}g</td>
		</tr>

	
	</tbody>

</table>

<p><a href="/">Back to Homepage</a></p>

  </body>


</html>
