<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>KetoPal</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="foods">View the Ketogenic foods</a></p>

<p><a href="excercises">View the KetoPal excercises</a></p>

<p><a href="competitions">View the current ongoing competitions</a></p>

<p><a href="userProfile">View a User's Profile</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
