<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>KetoPal</h1>



<p><a href="foods">View the Ketogenic foods</a></p>

<p><a href="exercises">View the KetoPal exercises</a></p>

<p><a href="diets">View the KetoPal Diets</a></p>

<p><a href="newDiet">Create a new Ketogenic Diet</a></p>

<p><a href="workouts">View the KetoPal Workout Programs</a></p>

<p><a href="newWorkout">Create a new Workout Program</a></p>

<p><a href="competitions">View the current ongoing competitions</a></p>

<p><a href="userProfile">View a User's Profile</a></p>

</body>


</html>
