<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>User Profile</h1>


  <p>Select User</p>

<form name="userDropdown" action="/userProfile" method='POST'>
  <select name="userDropdown">
  {% for u in users %}
    <option value= "{{u.pname}}">{{u.pname}}</option>
  {% endfor %}
  </select>
  <button type="submit">Go</button>
</form>
<table id="user-data">

  <div>
    <div>{{person.pname}}</div>
  </div>
  
  <colgroup>
    <col class="col-1">
    <col class="col-2">
  </colgroup>

  <tbody>
    <tr>
      <td class="col-1">Email</td>
      <td class="col-2">{{person.email}}</td>
    </tr>
    <tr>
      <td class="col-1">Gender</td>
      <td class="col-2">{{person.gender}}</td>
    </tr>
  
    <tr>
      <td class="col-1">Date of Birth</td>
      <td class="col-2">{{person.dob}}</td>
    </tr>
  
    <tr>
      <td class="col-1">Weight</td>
      <td class="col-2">{{person.weight}} lbs</td>
    </tr>
    <tr>
      <td class="col-1">Height</td>
      <td class="col-2">{{person.height}} in</td>
    </tr>
    <tr>
      <td class="col-1">Competition</td>
      <td class="col-2">{{person.cname}}</td>
    </tr>
    <tr>
      <td class="col-1">Workout Program</td>
      <td class="col-2">{{person.wname}}</td>
    </tr>
    <tr>
      <td class="col-1">Diet</td>
      <td class="col-2">{{person.dname}}</td>
    </tr>

  
  </tbody>

</table>


<p><a href="/">Back to Homepage</a></p>

  </body>


</html>
